<template name="manageProperty">
  <h1>Manage property</h1>
  <h2>{{property.title}}</h2>
  {{#autoForm collection="Properties" id="manageProperty" doc=property type="update"}}
    {{> afQuickField name="visitDates"}}
    <button type="submit" class="btn btn-primary">Submit</button>
  {{/autoForm}}
  <h2>Visits</h2>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <td>Name</td>
        <td>Date</td>
        <td>Actions</td>
      </tr>
    </thead>
    <tbody>
    {{#each formattedVisits}}
      <tr>
        <td>{{tenantName}}</td>
        <td>{{date}}</td>
        <td>
          <button type="button" class="btn btn-success btn-s btn-block accept-visit">Accept</button>
          <button type="button" class="btn btn-danger btn-s btn-block deny-visit">Deny</button>
          <button type="button" class="btn btn-default btn-s btn-block set-visiting">Visiting</button>
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>
  <h2>Applications</h2>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <td>Name</td>
        <td>Bid</td>
        <td>Actions</td>
      </tr>
    </thead>
    <tbody>
    {{#each formattedApplications}}
      <tr>
        <td><a href="/tenant/{{tenantId}}">{{tenantName}}</a></td>
        <td>{{bid}}</td>
        <td>
          <button type="button" class="btn btn-success btn-s btn-block accept-application">Accept</button>
          <button type="button" class="btn btn-warning btn-s btn-block deny-bid">Too low</button>
          <button type="button" class="btn btn-danger btn-s btn-block deny-application">Deny</button>
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</template>