<template name="nav">
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Rentkit</a>
        <div class="navbar-text">
          {{> loginButtons}}
        </div>
      </div>
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav nav-pills" style="border: none; padding: 5px 0;">
          {{#if isTenant}}
            <li><a href="/my-details">My Details</a></li>
            <li><a href="/shortlist">Shortlist</a></li>
            <li><a href="/bids">Bids</a></li>
          {{/if}}
          {{#if isLandlord}}
            <li><a href="/manage-properties">Manage properties</a></li>
          {{/if}}
        </ul>
      </div>
    </div>
  </nav>
</template>