<template name="shortlist">
    <h2>{{title}}</h2>
    <h3><a href="http://www.immobilienscout24.de/expose/printView.go?exposeId={{is24Id}}">View on ImmobilienScout24</a></h3>
    {{#each stellar}}
      <div class="photo" data-stellar-background-ratio="0.5">
        <img src="{{src}}" />
      </div>
    {{/each}}
    <hr/>
    <p><strong>Rent (cold): </strong><span>{{coldRent}}</span></p>
    <p><strong>Nebenkosten: </strong><span>{{nebenkosten}}</span></p>
    <hr/>
    {{{description}}}
    <hr/>
<div class="shortlist">
  <div id="navigation">
    <ul id="navBar">
      <li data-slide="1" class="current"></li>
      <li data-slide="2"></li>
      <li data-slide="3"></li>
      <li data-slide="4"></li>
    </ul>
  </div>

  <div class="slide photo prop1" id="slide1" data-slide="1">
    <div data-stellar-ratio="0.7" data-stellar-vertical-offset="-450" id="ball1"></div>
    <div data-stellar-ratio="2.6" data-stellar-vertical-offset="-350" id="ball2"></div>
    <div data-stellar-ratio="0.9" data-stellar-vertical-offset="-230" id="ball3"></div>
    <div data-stellar-ratio="2.9" data-stellar-vertical-offset="-380" id="ball4"></div>
      <div data-stellar-ratio="0.6" data-stellar-vertical-offset="-250" class="message">
       <h2>Apartment mit Dachterasse im <br>Scheunenviertel | ERSTBEZUG</h2>
       <h3>Linienstraße 216/217, 10119 Berlin, Mitte (Mitte)</h3>
      </div>
    <div data-stellar-ratio="0.9"  style="top: 10%; left 5%; max-width: 80%" class="btn2">
         <h2 style="background-color: transparent ">Apply now</h2>
    </div>
  </div>
  <div class="slide photo prop2" id="slide2" data-slide="2" >
    <div data-stellar-ratio="2.6" data-stellar-vertical-offset="-350" id="ball2"></div>
    <div data-stellar-ratio="2.9" data-stellar-vertical-offset="-380" id="ball4"></div>
    <a class="button" data-slide="3" title=""></a>
  </div>
  <div class="slide photo prop3" id="slide3" data-slide="3">
    <div data-stellar-ratio="0.7" data-stellar-vertical-offset="-450" id="ball1"></div>
    <div data-stellar-ratio="2.6" data-stellar-vertical-offset="-350" id="ball2"></div>
    <div data-stellar-ratio="0.9" data-stellar-vertical-offset="-230" id="ball3"></div>
    <div data-stellar-ratio="2.9" data-stellar-vertical-offset="-380" id="ball4"></div>
    <a class="button" data-slide="4" title=""></a>
  </div>
  <div class="slide photo prop4" id="slide4" data-slide="4">
    <div data-stellar-ratio="0.7" data-stellar-vertical-offset="-450" id="ball1"></div>
    <div data-stellar-ratio="2.6" data-stellar-vertical-offset="-350" id="ball2"></div>
    <div data-stellar-ratio="0.9" data-stellar-vertical-offset="-230" id="ball3"></div>
    <div data-stellar-ratio="2.9" data-stellar-vertical-offset="-380" id="ball4"></div>
    <a class="button last" data-slide="1" title=""></a>
  </div>
</div>

</template>